
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="user-type" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Tell us more about why you are contacting us
            </h1>
            <br>
            <p class=govuk-body>Use this space to tell us about what we have done well and the things we can do better.</p>
          </legend>

          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="10"></textarea>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Next
      </button>
    </form>
  </div>
</div>
{% endblock %}
