
{% extends "layout.html" %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
    Tell us about {{courtName}}
    </h1>
      <form action="more-information" method="post" novalidate>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
          What do you want to tell us about?
          </h1>
        </legend>  
          <span id="court-select" class="govuk-hint">
            Select all that apply.
          </span>
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="facilities-buildings" name="facilities-buildings" type="checkbox" value="facilities-buildings">
              <label class="govuk-label govuk-checkboxes__label" for="facilities-buildings">
                Facilities and buildings
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="your-experience" name="your-experience" type="checkbox" value="your-experience">
              <label class="govuk-label govuk-checkboxes__label" for="your-experience">
                Your experience
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="staff" name="staff" type="checkbox" value="staff">
              <label class="govuk-label govuk-checkboxes__label" for="staff">
                Staff
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="security" name="security" type="checkbox" value="security">
              <label class="govuk-label govuk-checkboxes__label" for="security">
                Security
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="information-guidance" name="information-guidance" type="checkbox" value="information-guidance">
              <label class="govuk-label govuk-checkboxes__label" for="information-guidance">
                Information and guidance
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="other" name="other" type="checkbox" value="other">
              <label class="govuk-label govuk-checkboxes__label" for="other">
                Other
              </label>
            </div>
            
          </div>
        </fieldset>
        <br>
        <button class="govuk-button" data-module="govuk-button">
          Next
        </button>
    </form>

  </div>
</div>

{% endblock %}
