
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation" style="background-color: #1d70b8">
      <h1 class="govuk-panel__title">
        Thank you for your comments
      </h1>
      <div class="govuk-panel__body">
        You've helped us to improve our service
      </div>

    </div>      
    <p class="govuk-body">
      Anything you have told us will not affect your case and your comments won't be shared with anyone involved in your case.
    </p>
  </div>
</div>

{% endblock %}
